*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    min-height: 100vh;
    overflow-x: hidden; 
}
@font-face {
    font-family: Barlow;
    src: url(../fonts/BarlowSemiCondensed-Regular.ttf);

}
@font-face {
    font-family: Anton;
    src: url(../fonts/Anton-Regular.ttf);
}
@font-face {
    font-family: interextra;
    src: url(../fonts/Inter-ExtraLight.ttf);
}
@font-face {
    font-family: inter;
    src: url(../fonts/Inter-Light.ttf);
}

.nav-link{
    position: relative;
}

.nav-link::after {
    content: '';
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;ç
}

.nav-link:hover::after{
    opacity: 1;
}

.navbar{
    transition: 0.4s;
}


.navbar-scrolled{
    background-color:#1b1b1b;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}
.inini{
    color: white;
    font-size: 2rem;
    font-family: Anton;
    letter-spacing: 2px;
}
.inini::first-letter{
    color:#E42524 ;
    font-size: 3rem;
}

    




section{
    background-color: black;
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
}
section::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    
    z-index: 10;
}
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
}
#arbol{
    z-index: 7;
}
#agua{
    z-index: 6;
}
#m1{
    z-index: 5;
}
#m2{
    z-index: 4;
}
#m3{
    z-index: 3;
}
#cielo{
    z-index: 2;
}
#fondo{
    z-index: 1;
}
.yo{
}
.yoyo   {
    margin-top: 5%;
    color: white;
  
}
.titulo{
    display: flex;
    justify-content: center;

}
.text{
    text-align: justify;
    font-family: inter  ;
    font-size: 1.1rem; 
    
}
.des:first-letter{
    font-size: 3rem;
    color: #E42524;
    font-weight: bold;
}
.foton{
    display: flex;
    justify-content: center;
}
.fyo{
    margin-top: 13%;
    
}
.ocul{
    transition: 5s;
    display: none;
}
.show{
    transition: 5s;
    display: block;
}
.boton{
    display: flex;
    justify-content: center;
}
.but:hover{
 background-color:#E42524;
 color: white;
}
.linea {
    border-top: 2px solid white ;
    height: 1px;
    max-width: 100%;
    border-radius: 100%;
}
.doss{
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11vh;
    background-color:  #1b1b1b;
}
.estu{
    font-size: 3rem;
    color: white;
    font-family: Anton;
    letter-spacing: 3px;
}
.estu::first-letter{
    color: #E42524;
    font-size: 3.5rem;
}
.foto{
  
}
.estudi{
    margin-top: 8%;
    height: 70%;
    background-color: #1b1b1b;
    border: 10px solid #E42524;
}
.yojojo{

}
.desc{
    background-color: #1b1b1b;
    margin-top: 7%;
}
.descripcion{
    color: white;
    font-family: inter;
    font-size: 1.7rem;
    margin-top: 0.5%;  
}
.description2{
    font-family: inter;
    margin-top: 0.5% ;
    margin-left: 1%;
    font-size: 1.7rem;
    color: #E42524;
}
.cones{
    display: flex;
    align-items: top;
}
.desc2{
    background-color: #1b1b1b;
    margin-top: 2%;
}.estudi2{
    margin-top: 2%;
    height: 70%;
    background-color: #1b1b1b;
    border: 10px solid #E42524;
}
.descripcion3{
    color: #E42524;
    font-size: 1.7rem;
    margin-right: 1%;
    margin-top: 0.5%;
    font-family: inter;
}
.description4{
    font-family: inter;
    margin-top: 0.5% ;
    margin-left: 1%;
    font-size: 1.7rem;
    color: white;
}
.cones2{
    display: flex;
    align-items: top;
    justify-content: end;
}
.desc3{
    background-color: #1b1b1b;
    margin-top: 2%;
}
.estudi3{
    margin-top: 2%;
    height: 70%;
    background-color: #1b1b1b;
    border: 10px solid #E42524;
}
.eduno{
    display: none;
}
.edusi{
    display: block;
}
.but2{
    margin-top: 2%;
}
.but2:hover{
   
    background-color:#E42524;
    color: white;
 }
 .linea2{
    margin-top: 3%;
    border-top: 2px solid white ;
    height: 1px;
    max-width: 100%;
    border-radius: 100%;
 }
 .cajash{
    background-color: #1b1b1b;
    margin-top: 5%;
 }
 .htitu{
    background-color: #E42524;
    color: white;
    font-family: Anton;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .conesh{
    display: flex;
    align-items: top;
    margin-left: 3%;
 }
 .descripcioh{
    font-family: inter;
    margin-top: 3% ;
    margin-left: 1%;
    font-size: 1.4rem;
    color: white;
 }
 .descriptionh{
    color: #E42524;
    font-size: 1.4rem;
    margin-left: 3%;
    margin-top: 3%;
    font-family: inter;
 }
 .habilin{
    display: none;
 }
 .habilis{
    display: block;
 }
 .traba{
    margin-top: 5%;
 }
 .trabas{
    background-color: #1b1b1b;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .trabass{
    margin-top: 5%;
    background-color: #1b1b1b;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .trabas2{
    margin-bottom: 6%;
  
 }

 .mod{
    margin-top: 9%;
 }
 .mod:hover{
    background-color: rgb(79, 79, 79);
    opacity: 50%;
 }
 .traba2{
    margin-top: 5%;
 }

 .trabano{
    display: none;
 }
 .trabasi{
    display: block;
 }
 .servi{
    margin-top: 5%;
    display: flex;
    justify-content: center;
 }

.conimg{
    margin: 10% 5%;
}
.tcard{
    text-align: center;
    color: #E42524;
    font-family: Anton;
}
.servi1{
    color: white;
    font-family: inter;
    text-align: justify;
}
.ima1{
    margin-top: 7%;
}
.carta{
    margin-top: 15%;
}
.olasss{
   margin-bottom: 5%;
   display: flex;
   
}.carta2{
    margin-top: 9%;
}
.carta3{
    margin-top: 6%;
}
.bm{
    margin-bottom: 3%;
}



.vmodal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    z-index: 2001;
    display: none;
    transition: 3s;
}
.vmodal-show{
    display: block;
}
.vmodal_container{
    border-radius: 3%;
    margin: auto;
    width: 40%;
    background-color: #1b1b1b;
    
}
.vmodal_title{

}
.vmti{
    font-family: Anton;
    color: #E42524;
    text-align: center;
    margin-top: 3%;
}
.vmodal_des{
    display: flex;
    justify-content: center;
}
.vmtext{
    color: white;
    font-family:inter;
    margin: 5%;
    text-align: justify;
}
.mimg{
    display: flex;
    justify-content: center;
}
.vmodal_close{
    display: flex;
    justify-content: center;
}
.but5{
    margin: 3%;
}
.but5:hover{
    background-color: #E42524;
    color: white;
}
.vmodal2{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    z-index: 2001;
    display: none;
    transition: 3s;
}
.vmodal-show2{
    display: block;
    transition: 3s;
}
.vmodal-show3{
    display: block;
    transition: 3s;
}
.vmodal-show4{
    display: block;
}
.vmodal-show5{
    display: block;
}
.cont{
    margin-top: 6%;
}
.footer{
    background-color: #1b1b1b;
}
.contacto{
    color: white;
    font-family: Anton;
    font-size: 7rem;
    text-align: center;
    letter-spacing: 10px;
}
.formulario{
    margin-top: 5%;
}
.sepafo{
    margin-top: 5%;
}
.cred{
    margin-top: 3%;
    display: flex;
    justify-content: center;
}

.redes{
    margin-bottom: 3%;
}
.red1{
    justify-content: center;
    margin-right: 15%;
    
    
}
.check{
    margin-top: 2%;
}
.envi{
    margin-top: 1%;
}
.envi:hover{
    background-color:#E42524;
    color: white;
}
.inc{
    color: white;
    font-family: inter;
}
